<!DOCTYPE html>
<html>
   <head>
      <meta charset="utf-8">
      <title>Courses</title>
   </head>
   <body>
         {% for message in messages %}
            <p>{{message}}</p>
         {% endfor %}

      <p>Add a New Course</p>
      <form action="/add" method="post">
         {% csrf_token %}
         <label for="name">Name: </label>
         <input type="text" name="name" value="">

         <label for="description">Description: </label>
         <input type="textarea" name="description" value="">

         <input type="submit" name="add" value="Add">
      </form>

      <h2>All Courses</h2>
      <table>
      <thead>
        <th>Course Name</th>
        <th>Description</th>
        <th>Date Added</th>
        <th>Actions</th>
      </thead>
      <tbody>
        {% for course in all_courses %}
        <tr>
          <td>{{ course.name }}</td>
          <td>{{ course.description }}</td>
          <td>{{ course.created_at }}</td>
          <td><a href="/delete/{{ course.id }}">Remove</a></td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

   </body>
</html>
